<!DOCTYPE html>
<html ng-app="toDoApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="CSS/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <title>TODO App</title>
</head>
<body>

    <section class="container" ng-controller="TodoController as tasks">
        <p class="title">TODO List</p>
        <p class="tagline">A place to store the things you have to do!</p>
        
        <div class="top">
        <input type="text" placeholder="Filter your to-dos" class="filteritem">
        </div>


        <div class="tasklist" ng-repeat="stuff in tasks.toDoTasks">
            <section class="listwrap" ng-class="{ 'true': stuff.completed === true, 'false': stuff.completed === false }">
            <p>{{ $index + 1 }}. <button type="button" class="completebtn" ng-if="stuff.completed === false">Complete</button>{{ stuff.task }}<i class="material-icons">clear</i></p>
            </section>
        </div>
    
    <div class="bottom">
    <input type="text" placeholder="Add your to do" class="additem">
    <button type="button" class="addbtn">Add</button>
    </div>
    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
    <script src="JS/module.js"></script>
    <script src="JS/controller.js"></script>
</body>
</html>